################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/github-second-action-react/v16/.suo
/Second-action-react/node_modules
/node_modules
